root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3902.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3903.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3904.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3905.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3906.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3907.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3908.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3909.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3910.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3911.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3912.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3913.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3914.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3915.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3916.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3917.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3918.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3919.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3920.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3921.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3922.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3923.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3924.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3925.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3926.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3927.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3928.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3929.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3930.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3931.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3932.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3933.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3934.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3935.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3936.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3937.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3938.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3939.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3940.root
root://cmseos.fnal.gov//store/user/lpcsusyhad/Stop_production/Spring16_80X_Nov_2016_Ntp_v11X_new_IDs/MET/Spring16_80X_Nov_2016_Ntp_v11p0_new_IDs_MET-Run2016H-PromptReco-v2/161111_231134/0003/stopFlatNtuples_3941.root
